header {
    position: relative;
    align-items: center;
    padding-left: 600px;
}

body {
    background-image: url();
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

#search-box {
    position: relative;
    align-items: center;
    padding-left: 600px;
    padding-top: 10px;
    color:aliceblue
}

#team-bttns {
    position: relative;
    top: 625px;
    align-content: center;
    align-items: center;
    padding-left: 650px;
    color:aliceblue
}

#hyperlink {
    position: relative;
    padding-left: 60px;
    color:aliceblue
}

footer {
    position: fixed;
    left: 1px;
    top: 871px;
    color:aliceblue
}

#digi-main{
    bottom: 10px;
    position: relative;
    align-items: center;
    left: 705px;
    top: -120px;
    width: 300px;
    display: inline-block;
    color:aliceblue
}

#digi-container{
    float: right;
    position: relative;
    bottom: 125px;
    right: 153px;
    color:aliceblue
}

#digi-description{
    color:aliceblue
}

