header {
    position: relative;
    align-items: center;
    padding-left: 600px;
}

body {
    background-image: url();
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

#search-box {
    position: relative;
    align-items: center;
    padding-left: 600px;
    padding-top: 10px;
    color:aliceblue
}

#team-bttns {
    position: relative;
    top: 580px;
    align-content: center;
    align-items: center;
    padding-left: 658px;
    color:aliceblue
}

#hyperlink {
    position: relative;
    left: -128px;
    color:aliceblue
}

footer {
    position: fixed;
    left: 1px;
    top: 871px;
    color:aliceblue
}

#digi-main{
    bottom: 10px;
    position: relative;
    align-items: center;
    left: 70px;
    top: -88px;
    width: 300px;
    display: inline-block;
    color: aliceblue;
}

#digi-container{
    float: right;
    position: relative;
    bottom: 26px;
    right: 64px;
    color: aliceblue;
}

#digi-description{
    color:aliceblue;
    display: inline-block;
    padding-left: 9px;
}

#video {
    display: inline-block;
    position: relative;
}

p {
    height: fit-content;
    width: 549px; 
}

h2{
    width: 541px;
    height: 35px;
    text-align: center;
}