/* #body {
    background-image: url(./images/nio-milano-UdeDyN4K7S0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

#summary {
  display: flex;
  flex-direction: column;
  align-items: left;
  left: 20 px;
  font-family: 'Mochiy Pop One', sans-serif;
}

.form1{
    position: sticky;
    top: 150px;
    left: 40px; 
    column-width: 400px;
    padding: 70px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.form2{
    position: sticky;
    top: 300px;
    left: 40px; 
    column-width: 400px;
    padding: 70px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.form3{
    position: sticky;
    top: 450px;
    left: 40px; 
    column-width: 400px;    
    padding: 70px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.header{
    font-family: 'Bebas Neue', cursive;
    font-size: 125px; 
}

.form4{
    position: sticky;
    color: black;
    top: 550px;
    left: 40px; 
    column-width: 400px;    
    padding: 80px;
    
}

.container2 {
    position: fixed;
    width: 700px ;
    height: 700px ;
    left: 750px;
    bottom: 20px;
    
  }
 */
